<div class="card-badge">
  <img
    src="<%= '/assets/' + define_technology_image_pattern(technology) %>"
    alt="<%= 'Card of the repository ' + technology %>"
    width="23"
    onerror="this.onerror=null; this.src='/assets/default.svg'; this.alt='Card of the repository default'"
  >
</div>
