.issues-wrapper {
  --scrollbar-bgc: #CFD8DC;
  --scrollbar-thumb-bgc: #a855f7;

  height: 260px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-bgc) var(--scrollbar-bgc);
}

.issues-wrapper::-webkit-scrollbar {
  width: 11px;
}

.issues-wrapper::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bgc);
}

.issues-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bgc) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbar-bgc);
}
